@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Primary Colors
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

// Neutral Colors
$dark-gray: hsl(0, 0%, 59%);
$kumbh-font: "Kumbh Sans", serif;


body {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $dark-cyan;
    font-family: $kumbh-font;

    // PATTERNS
    .top-pattern {
        position: absolute;
        top: -70%;
        left: -20%;
        z-index: -1;
    }

    .bottom-pattern {
        position: absolute;
        bottom: -70%;
        right: -20%;
        z-index: -1;
    }

    .main {
        width: min(320px, 95%);
        background-color: white;
        border-radius: 14px;
        overflow: hidden;

        .image {
            background: {
                image: url("../images/bg-pattern-card.svg");
                size: cover;
                repeat: no-repeat;
            }

            ;
            height: 130px;
            position: relative;

            .image-inner {
                border: 4px solid white;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -10%);
                bottom: -50%;

            }
        }

        // PROFILE DETAILS
        .profile-details {
            padding-block: 4.5em 1.5em;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border-bottom: thin solid rgba(128, 128, 128, 0.334);
            
            h1 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 0.5em;
                
                span {
                    color: $dark-gray;
                    font-weight: 300;
                }
                
            }
            
            p {
                color: $dark-gray;
                font-size: 12px;
                font-weight: 300;

            }
        }

        // STATS
        .stats {
            display: flex;
            justify-content: space-around;
            padding: 1.25em;

            .stats-inner {
                display: flex;
                flex-direction: column;
                gap: 0.3em;
                align-items: center;

                span:nth-child(1) {
                    font-weight: 700;
                }

                span:nth-child(2) {
                    font-size: 10px;
                    letter-spacing: 0.05em;
                    font-weight: 300;
                }
            }
        }
    }
}